
	.deletebutton{
	    width: 50px;
	    height: 20px;
	    font-size: 10px;
	    color: white;
	    background: red;
	    border: red;
	}

	.none{
	    display: none;
	}
	.inline{
	    display: inline;
	}

	.modal {
	    display: none; /* Hidden by default */
	    position: fixed; /* Stay in place */
	    z-index: 1; /* Sit on top */
	    padding-top: 10px; /* Location of the box */
	    left: 0;
	    top: 50px;
	    width: 100%; /* Full width */
	    height: 100%; /* Full height */
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    background-color: #fefefe;
	    margin: auto;
	    padding: 20px;
	    border: 1px solid #888;
	    
	}

	.modal-content-common{
	    width: 44%;
	}

	.modal-cashregistry{
        width: 30%;
    }

    .modal-payment{
        width: 25%;
    }

    .modal-remit{
        width: 35%;
    }

	/* The Close Button */
	.close {
	    color: #aaaaaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	    position: relative;
	    display: inline-block;
	}

	body {
		margin: 0;
	}

	input{
		background: gray;
		border: 2px solid black;
	}

	button{
		background: gray;
		border: 2px solid black;
	}

	select{
		background: gray;
		border: 2px solid black;
	}


	.headerbar{
		overflow: hidden;
		background-color: black;
		position: fixed;
		top: 0;
		width: 100%;
		height: 100px;
	}

	.main{
		width: 100%;
		height: 765px;
		display: flex;
		margin-top: 100px;
		background: gray;
	}

	.navigationbar{
		width: 15%;
		height: 700px;
		top:50px;
	}

	.workareabar{
		width: 85%;
		height: 765px;
		margin-left: 50px;
	}

	.pagenavbar{
		overflow: hidden;
		position: fixed;
		top: 100px;
		width: 100%;
		height: 50px;
	}

	.pagetoolbar{
		position: fixed;
		top: 150px;
		width: 100%;
		height: 100px;
	}

	.pagearea{
		top: 150px;
		width: 100%;
		height: 615px;
		overflow: scroll;
		position: relative;
	}

	.navbut{
		width: 100%;
		height: 45px;
		color: black;
		text-align: left;
		border:1px solid green ;
		background: green;
		margin: 1px;
	}

	.navbut:hover{
		opacity: 0.8;
	}

	.lnavbut{
		width: 100%;
		height: 45px;
		color: black;
		text-align: left;
		border: 1px solid white;
		background: white;
		margin:1px;
		padding-left: 10px;
		border-radius: 20px;
	}

	.lnavbut:hover{
		opacity: 0.8;
		background: gray;	
	}

	.navdropdown{
		display: inline-block;
		width: 100%;
	}

	.nav-content{
		display: none;
		width: 100%;
	}

	.navdropdown:hover .nav-content{
		display: inline-block;
	}


